/*Title*/
#header {
	height: 110px;
	text-align: center;
}

h1 {
	font-family: Rockwell;
	font-size: 40px
}

h2 {
	font-family: Rockwell;
	font-size: 25px
}



/*Map and Chart Main*/
.map {
    margin: 10px 0 0 20px;
}

.map:hover {
	border-style: solid;
	border-width: 2px;
}

.chart {
    float: right;
    margin: 10px 20px 0 0;
}

.chart:hover {
	border-style: solid;
	border-width: 2px;
}


/*Map*/
.lakesRivers {
	fill: #fff;
}

.zones {
	stroke: #cccccc;
	stroke-width: 0.3px;
	stroke-linecap: round;
}



/*Chart*/
.chartTitle {
	font-family: Rockwell;
	font-size: 17px;
	font-weight: bold;
}

.chartBackground {
	fill: #fff;
}

.chartFrame {
	fill: rgba(128,128,128,.2);
	stroke: #999;
	stroke-width: 3px;
	shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: Rockwell;
	font-size: 10px;
	fill: #999;
}

/*Panels*/
.dropdown {
	position: absolute;
	top: 100px;
	left: 40px;
	z-index: 10;
	font-family: Rockwell;
	font-size: 10px;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px #999;
}

.dropdown:hover {
	background-color: #99e6ff;
}

option {
	font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}
